.profile-header {
  text-align: center;
  padding: 20px;
}

.posts {
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.post img {
  width: 100%;
  border-radius: 6px;
}

.logout {
  width: 20%;
  display: flex;
  margin-left: auto;
}